<div class="dropdown-wrapper" (click)="active=!active" [ngClass]="{'active':active}">
    <input type="text" *ngIf="settings.isDatalist" [(ngModel)]="searchTerm" (keyup)="search()">
    <span [class]="settings.caretClass" *ngIf="settings.isDatalist"></span>
    <span *ngIf="!settings.isDatalist" [class]="settings.caretClass">{{selectedItem}}</span>
    <ul class="dropdown">
        <li *ngFor="let option of filterOptions;let i = index" (click)="changeValue(i)"><span>{{option}}</span></li>
    </ul>
</div>