$text-color: rgb(110, 108, 105);
$border-color: rgb(206, 205, 201);
$highlight-color: #d15947;
$color-black: #000;
$color-white: #fff;
$dropdown-active-color: #f0f2f5;
.dropdown-wrapper {
    /* Size & position */
    display: inline-block;
    position: relative;
    .dropdown {
        /* Size & position */
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        /* Styles */
        list-style: none;
        /* Hiding */
        overflow: hidden;
        z-index: 10;
        /* Hover state */
        li {
            span {
                transition: all 0.3s ease-out;
            }
        }
    }
}

.dropdown-wrapper em {
    float: right;
}


/* Active state */

.dropdown-wrapper.active {
    border-radius: 5px 5px 0 0;
    background: $dropdown-active-color;
    box-shadow: none;
    border-bottom: none;
    color: $color-black;
}

.dropdown-wrapper.active .dropdown {
    display: block;
}

@media only screen and (min-width: 768px) {
    .dropdown-wrapper {
        width: 20%;
    }
}