.dropdown-wrapper {
    /* Size & position */
    display: inline-block;
    position: relative;
    input {
        width: 100%;
        border: none;
        outline: none;
    }
    .dropdown {
        /* Size & position */
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        /* Styles */
        list-style: none;
        /* Hiding */
        overflow: hidden;
        z-index: 10;
        /* Hover state */
        li {
            span {
                transition: all 0.3s ease-out;
            }
        }
    }
}

.dropdown-wrapper em {
    float: right;
}


/* Active state */

.dropdown-wrapper.active .dropdown {
    display: block;
}