<h2>
    app works!
</h2>
<h3>
    Dropdown
</h3>
<form novalidate #templateForm="ngForm">
    <ng-dropdown name="selectBox" displayKey="name" [options]="options" [(ngModel)]="current" [styleGuide]="settings"></ng-dropdown>
</form>
<span>{{templateForm.value | json}}</span>
<br>

<form novalidate [formGroup]="modelForm">
    <ng-dropdown formControlName="selectBox" isDatalist="true" [options]="options" [styleGuide]="settings" (onChange)="changeValue($event)"></ng-dropdown>
</form>

<span>{{modelForm.value | json}}</span>

<form novalidate [formGroup]="selectForm">
    <ng-dropdown formControlName="selectBox" [searchKeys]="searchKeys" [options]="options" [styleGuide]="settings" (onChange)="changeValue($event)"></ng-dropdown>
</form>

<span>{{selectForm.value | json}}</span>

<form novalidate [formGroup]="stringmodelForm">
    <ng-dropdown formControlName="selectBox" isDatalist="true" [options]="stringoptions" [styleGuide]="settings" (onChange)="changeValue($event)"></ng-dropdown>
</form>

<span>{{stringmodelForm.value | json}}</span>

<ng-dropdown [options]="stringoptions" [styleGuide]="settings" (onChange)="changeValue($event)"></ng-dropdown>
<ng-dropdown isDatalist="true" [options]="numericOptions" [styleGuide]="settings" (onChange)="changeValue($event)"></ng-dropdown>


<button type="button" (click)="printValue(templateForm)">Show</button>

<p>
    {{displayed | json}}
</p>
<!-- <ng-dropdown [options]="options" (onchange)="changeValue($event)"></ng-dropdown> -->
<!-- <span data-count=20>items</span>
<header>
    <nav class="navigation">Hello world</nav>
</header> -->
<select>
    <option value="1">Uttam</option>
    <option value="2">Sachin</option>
</select>