<h2>
    Test Your component here
</h2>

<div class="container">

    <div class="row">
        <button (click)="firstModal.open()">modal with custom header content and footer</button>
        <modal #firstModal [settings]="options" (onSubmit)="firstModal.close()">
            <modal-header>
                <h1>I am first modal</h1>
            </modal-header>
            <modal-content>
                This modal has its own header, content and footer.
            </modal-content>
            <modal-footer>
                <button class="btn btn-primary" (click)="firstModal.close()">okay!</button>
            </modal-footer>
        </modal>
    </div>

</div>